{% extends 'base.html.twig' %}
{% block title %} Hello it is octopus {% endblock %}

{% block body %}
    hello {{ name }} it is octopus view.
<p>
    {{ app.user ? app.user.email : 'Aquanauts' }}!
</p>

{% endblock %}